.d-fx {
  display: flex;
}

//font-weight
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}
//font-style
.fs-italic {
  font-style: italic;
}
//font-size
//0.25
.fz-1 {
  font-size: $fz-base * 1; //16px, 24px
}
.fz-2 {
  font-size: $fz-base * 1.25; //20px, 30px
}
.fz-3 {
  font-size: $fz-base * 1.5; //24px, 36px
}
.fz-4 {
  font-size: $fz-base * 1.75; //28px, 42px
}
.fz-5 {
  font-size: $fz-base * 2; //32px, 48px
}
.fz-6 {
  font-size: $fz-base * 2.25; //36px, 54px
}
.fz-7 {
  font-size: $fz-base * 2.5; //40px, 60px
}
.fz-8 {
  font-size: $fz-base * 2.75; //44px, 66px
}
.fz-9 {
  font-size: $fz-base * 3; //48px, 72px
}
//0.5
.fz-a1 {
  font-size: $fz-base * 4; //64px, 96px
}
.fz-a2 {
  font-size: $fz-base * 4.5; //72px, 108px
}
//customize
.fz-b1 {
  font-size: $fz-base * 0.875; //14px. 21px
}
.fz-b2 {
  font-size: $fz-base * 1.125; //18px, 27px
}
.fz-b3 {
  font-size: $fz-base * 1.1875; //19px, 28.5px
}

//location
.pc-mr-1 {
  margin-right: 30px;
  @include pad {
    margin-right: 0px;
  }
}
.pad-mr-1 {
  @include pad {
    margin-right: 30px;
  }
  @include mobile {
    margin-right: 0px;
  }
}

.pc-mb-1 {
  margin-bottom: 30px;
  @include pad {
    margin-bottom: 0px;
  }
}
.pad-mb-1 {
  @include pad {
    margin-bottom: 30px;
  }
  @include mobile {
    margin-bottom: 0px;
  }
}
.pad-mb-2 {
  @include pad {
    margin-bottom: 32px;
  }
  @include mobile {
    margin-bottom: 0px;
  }
}
.mobile-mb-1 {
  @include mobile {
    margin-bottom: 16px;
  }
}

.mobile-dn {
  display: block;
  @include mobile {
    display: none;
  }
}
.mobile-db {
  display: none;
  @include mobile {
    display: block;
  }
}
