//font-family
$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-family-all: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

//font-size
$font-size-base: 1rem; //16px
$font-size-1: $font-size-base*1;
$font-size-s: $font-size-base*1.25; //20px
$font-size-m: $font-size-base*1.5; //24px
$font-size-l: $font-size-base*2; //32px
$font-size-ll: $font-size-base*3; //48px
$font-size-2: $font-size-base*0.875; //14px
$font-size-3: $font-size-base*1.125; //18px
$font-size-4: $font-size-base*1.1875; //19px
$font-size-5: $font-size-base*1.75; //28px
$font-size-6: $font-size-base*2.25; //36px
$font-size-7: $font-size-base*2.265; //42px
$font-size-8: $font-size-base*4; //64px
$font-size-9: $font-size-base*4.5; //72px

//line-height
$line-height-base: 1rem; //16px
$line-height-1: $line-height-base*1.5; //24px
$line-height-s: $line-height-base*1.875; //30px
$line-height-m: $line-height-base*2.25; //36px
$line-height-l: $line-height-base*3; //48px
$line-height-ll: $line-height-base*4.5; //72px
$line-height-2: $line-height-base*1.3125; //21px
$line-height-3: $line-height-base*1.375; //22px
$line-height-4: $line-height-base*1.4375; //23px
$line-height-5: $line-height-base*1.625; //26px
$line-height-6: $line-height-base*1.6875; //27px
$line-height-7: $line-height-base*1.8125; //29px
$line-height-8: $line-height-base*2.625; //42px
$line-height-9: $line-height-base*3.125; //50px
$line-height-10: $line-height-base*3.375; //54px
$line-height-11: $line-height-base*3.9375; //63px
$line-height-12: $line-height-base*5; //80px
$line-height-13: $line-height-base*5.9375; //95px
$line-height-14: $line-height-base*6; //96px
$line-height-15: $line-height-base*6.75; //108px


//color
$primary: #650300;
$primary-light: #AA0601;
$background-index: #AA06010D;
$secondary: #000;
$secondary-light: #fff;
$text-color-light: #fff;


