//font-family
$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-family-all: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

//theme-color
$primary: #650300;
$primary-light: #AA0601;
$secondary: #000;
$secondary-light: #fff;
//background-color
$background-light: #AA06010D;
$background-dark: #650300; 
$background-hover: #fff;
//text-color
$text-color-hover: #650300;
$text-color-light: #fff;

//font-size
$fz-base: 1rem;

//line-height
$lh-base: 1rem;

//padding+margin
$spacing: 1rem;//16px
