/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.fz-1 {
  font-size: 1rem; }

.fz-2 {
  font-size: 1.25rem; }

.fz-3 {
  font-size: 1.5rem; }

.fz-4 {
  font-size: 1.75rem; }

.fz-5 {
  font-size: 2rem; }

.fz-6 {
  font-size: 2.25rem; }

.fz-7 {
  font-size: 2.5rem; }

.fz-8 {
  font-size: 2.75rem; }

.fz-9 {
  font-size: 3rem; }

.fz-a1 {
  font-size: 4rem; }

.fz-a2 {
  font-size: 4.5rem; }

.fz-b1 {
  font-size: 0.875rem; }

.fz-b2 {
  font-size: 1.125rem; }

.fz-b3 {
  font-size: 1.1875rem; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 914px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 737px; } }

.header {
  background-color: #AA0601;
  padding: 1.25rem 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .header {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 768px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.625rem;
      padding-left: 0px;
      padding-right: 0px; }
      .header .nav-logo {
        width: 48px;
        margin-bottom: 0.625rem; } }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    @media (max-width: 768px) {
      .header .menu-bar {
        width: 49%;
        text-align: center; } }
    .header .menu-items, .header .menu-items-2 {
      display: block;
      color: #fff;
      padding: 0.625rem 2rem; }
      .header .menu-items:hover, .header .menu-items-2:hover {
        color: #650300;
        background: #fff; }
      @media (max-width: 768px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px;
          border: 1px solid #fff; } }
      @media (max-width: 460px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px; } }
    @media (max-width: 768px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }
    @media (max-width: 460px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }

.footer {
  color: #fff;
  background: #AA0601;
  padding-top: 2.75rem; }
  @media (max-width: 992px) {
    .footer {
      padding-top: 2rem; } }
  @media (max-width: 768px) {
    .footer {
      padding-top: 1.5rem; } }
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .footer-link {
        display: none; } }
    .footer-link .footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.75rem;
      margin-bottom: 2rem; }
      @media (max-width: 992px) {
        .footer-link .footer-menu {
          padding-top: 0.375rem;
          margin-left: 0.5625rem;
          margin-bottom: 1.125rem; } }
      .footer-link .footer-menu-body1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer-link .footer-menu-body1 {
            margin-right: 2.5rem; } }
      .footer-link .footer-menu-items {
        color: #fff; }
        .footer-link .footer-menu-items:hover {
          color: #650300;
          background: #fff; }
    .footer-link .footer-sns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-link .footer-sns-icon1 {
        margin-right: 2rem; }
        @media (max-width: 992px) {
          .footer-link .footer-sns-icon1 {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem; } }
      @media (max-width: 992px) {
        .footer-link .footer-sns-icon1, .footer-link .footer-sns-icon2 {
          width: 24px; } }
  .footer .address-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .address-body .address1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0.5rem; }
      @media (max-width: 992px) {
        .footer .address-body .address1 {
          margin-bottom: 0.75rem;
          font-size: 1.25rem; } }
      @media (max-width: 768px) {
        .footer .address-body .address1 {
          margin-bottom: 0.375rem;
          font-size: 1rem;
          line-height: 1.875rem; } }
      .footer .address-body .address1 .telto-icon {
        padding: 0.375rem;
        margin-right: 1.375rem; }
        @media (max-width: 992px) {
          .footer .address-body .address1 .telto-icon {
            width: 24px;
            padding: 3px;
            margin-right: 0.5rem; } }
        @media (max-width: 768px) {
          .footer .address-body .address1 .telto-icon {
            width: 20px;
            padding: 2.5px;
            margin-right: 0.25rem; } }
      .footer .address-body .address1 .telto-number {
        color: #fff; }
    .footer .address-body .sns-icon-mobile {
      display: none; }
      @media (max-width: 768px) {
        .footer .address-body .sns-icon-mobile {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer .address-body .sns-icon-mobile1, .footer .address-body .sns-icon-mobile2 {
            width: 24px; }
          .footer .address-body .sns-icon-mobile1 {
            margin-right: 1.5rem; } }
  .footer .address2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem; }
    @media (max-width: 992px) {
      .footer .address2 {
        margin-bottom: 1.25rem;
        font-size: 1.25rem; } }
    @media (max-width: 768px) {
      .footer .address2 {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.875rem; } }
    .footer .address2 .mailto-icon {
      margin-right: 1.25rem; }
      @media (max-width: 992px) {
        .footer .address2 .mailto-icon {
          width: 24px;
          padding: 0.25rem 0.125rem;
          margin-right: 0.5rem; } }
      @media (max-width: 768px) {
        .footer .address2 .mailto-icon {
          width: 20px;
          padding: 3.33px 1.67px;
          margin-right: 0.3125rem; } }
    .footer .address2 .mailto-address {
      color: #fff; }
  .footer-hr {
    border-bottom: 1px solid #fff;
    margin-bottom: 2.0625rem; }
    @media (max-width: 992px) {
      .footer-hr {
        margin-bottom: 1.5rem; } }
    @media (max-width: 768px) {
      .footer-hr {
        margin-bottom: 1rem; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2.4375rem; }
    @media (max-width: 992px) {
      .footer .copyright {
        padding-bottom: 1.3125rem; } }
    @media (max-width: 768px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 1.5rem; } }
    @media (max-width: 768px) {
      .footer .copyright-slogan {
        font-size: 0.875rem;
        margin-bottom: 0.5rem; } }
    .footer .copyright-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 992px) {
        .footer .copyright-link {
          margin-top: 0.75rem; } }
      @media (max-width: 768px) {
        .footer .copyright-link {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 0; } }
      @media (max-width: 768px) {
        .footer .copyright-link-body {
          margin-bottom: 0.5rem; } }
      .footer .copyright-link .copyright-items1,
      .footer .copyright-link .copyright-items2 {
        color: #fff; }
        .footer .copyright-link .copyright-items1:hover,
        .footer .copyright-link .copyright-items2:hover {
          color: #650300;
          background: #fff; }
      .footer .copyright-link .copyright-items1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer .copyright-link .copyright-items1 {
            margin-right: 1.5rem; } }

/*# sourceMappingURL=all.css.map */
