@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.d-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.fs-italic {
  font-style: italic; }

.fz-1 {
  font-size: 1rem; }

.fz-2 {
  font-size: 1.25rem; }

.fz-3 {
  font-size: 1.5rem; }

.fz-4 {
  font-size: 1.75rem; }

.fz-5 {
  font-size: 2rem; }

.fz-6 {
  font-size: 2.25rem; }

.fz-7 {
  font-size: 2.5rem; }

.fz-8 {
  font-size: 2.75rem; }

.fz-9 {
  font-size: 3rem; }

.fz-a1 {
  font-size: 4rem; }

.fz-a2 {
  font-size: 4.5rem; }

.fz-b1 {
  font-size: 0.875rem; }

.fz-b2 {
  font-size: 1.125rem; }

.fz-b3 {
  font-size: 1.1875rem; }

.pc-mr-1 {
  margin-right: 30px; }
  @media (max-width: 992px) {
    .pc-mr-1 {
      margin-right: 0px; } }

@media (max-width: 992px) {
  .pad-mr-1 {
    margin-right: 30px; } }

@media (max-width: 767px) {
  .pad-mr-1 {
    margin-right: 0px; } }

.pc-mb-1 {
  margin-bottom: 30px; }
  @media (max-width: 992px) {
    .pc-mb-1 {
      margin-bottom: 0px; } }

@media (max-width: 992px) {
  .pad-mb-1 {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .pad-mb-1 {
    margin-bottom: 0px; } }

@media (max-width: 992px) {
  .pad-mb-2 {
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .pad-mb-2 {
    margin-bottom: 0px; } }

@media (max-width: 767px) {
  .mobile-mb-1 {
    margin-bottom: 16px; } }

.mobile-dn {
  display: block; }
  @media (max-width: 767px) {
    .mobile-dn {
      display: none; } }

.mobile-db {
  display: none; }
  @media (max-width: 767px) {
    .mobile-db {
      display: block; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 934px;
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 767px;
      padding: 0 15px; } }

.header {
  background-color: #AA0601;
  padding: 1.25rem 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .header {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.625rem 0px 0px 0px; }
      .header .nav-logo {
        width: 48px;
        margin-bottom: 0.625rem; } }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    @media (max-width: 767px) {
      .header .menu-bar {
        width: 49%;
        text-align: center; } }
    .header .menu-items, .header .menu-items-2 {
      display: block;
      color: #fff;
      padding: 0.625rem 2rem; }
      .header .menu-items:hover, .header .menu-items-2:hover {
        color: #650300;
        background: #fff; }
      @media (max-width: 767px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px;
          border: 1px solid #fff; } }
      @media (max-width: 470px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px; } }
    @media (max-width: 767px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }
    @media (max-width: 470px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }

.footer {
  color: #fff;
  background: #AA0601;
  padding-top: 2.75rem; }
  @media (max-width: 992px) {
    .footer {
      padding-top: 2rem; } }
  @media (max-width: 767px) {
    .footer {
      padding-top: 1.5rem; } }
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .footer-link {
        display: none; } }
    .footer-link .footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.75rem;
      margin-bottom: 2rem; }
      @media (max-width: 992px) {
        .footer-link .footer-menu {
          padding-top: 0.375rem;
          margin-left: 0.5625rem;
          margin-bottom: 1.125rem; } }
      .footer-link .footer-menu-body1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer-link .footer-menu-body1 {
            margin-right: 2.5rem; } }
      .footer-link .footer-menu-items {
        color: #fff; }
        .footer-link .footer-menu-items:hover {
          color: #650300;
          background: #fff; }
    .footer-link .footer-sns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-link .footer-sns-icon1 {
        margin-right: 2rem; }
        @media (max-width: 992px) {
          .footer-link .footer-sns-icon1 {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem; } }
      @media (max-width: 992px) {
        .footer-link .footer-sns-icon1, .footer-link .footer-sns-icon2 {
          width: 24px; } }
  .footer .address-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .address-body .address1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0.5rem; }
      @media (max-width: 992px) {
        .footer .address-body .address1 {
          margin-bottom: 0.75rem;
          font-size: 1.25rem; } }
      @media (max-width: 767px) {
        .footer .address-body .address1 {
          margin-bottom: 0.375rem;
          font-size: 1rem;
          line-height: 1.875rem; } }
      .footer .address-body .address1 .telto-icon {
        padding: 0.375rem;
        margin-right: 1.375rem; }
        @media (max-width: 992px) {
          .footer .address-body .address1 .telto-icon {
            width: 24px;
            padding: 3px;
            margin-right: 0.5rem; } }
        @media (max-width: 767px) {
          .footer .address-body .address1 .telto-icon {
            width: 20px;
            padding: 2.5px;
            margin-right: 0.25rem; } }
      .footer .address-body .address1 .telto-number {
        color: #fff; }
    .footer .address-body .sns-icon-mobile {
      display: none; }
      @media (max-width: 767px) {
        .footer .address-body .sns-icon-mobile {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer .address-body .sns-icon-mobile1, .footer .address-body .sns-icon-mobile2 {
            width: 24px; }
          .footer .address-body .sns-icon-mobile1 {
            margin-right: 1.5rem; } }
  .footer .address2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem; }
    @media (max-width: 992px) {
      .footer .address2 {
        margin-bottom: 1.25rem;
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .footer .address2 {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.875rem; } }
    .footer .address2 .mailto-icon {
      margin-right: 1.25rem; }
      @media (max-width: 992px) {
        .footer .address2 .mailto-icon {
          width: 24px;
          padding: 0.25rem 0.125rem;
          margin-right: 0.5rem; } }
      @media (max-width: 767px) {
        .footer .address2 .mailto-icon {
          width: 20px;
          padding: 3.33px 1.67px;
          margin-right: 0.3125rem; } }
    .footer .address2 .mailto-address {
      color: #fff; }
  .footer-hr {
    border-bottom: 1px solid #fff;
    margin-bottom: 2.0625rem; }
    @media (max-width: 992px) {
      .footer-hr {
        margin-bottom: 1.5rem; } }
    @media (max-width: 767px) {
      .footer-hr {
        margin-bottom: 1rem; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2.4375rem; }
    @media (max-width: 992px) {
      .footer .copyright {
        padding-bottom: 1.3125rem; } }
    @media (max-width: 767px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 1.5rem; } }
    @media (max-width: 767px) {
      .footer .copyright-slogan {
        font-size: 0.875rem;
        margin-bottom: 0.5rem; } }
    .footer .copyright-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 992px) {
        .footer .copyright-link {
          margin-top: 0.75rem; } }
      @media (max-width: 767px) {
        .footer .copyright-link {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 0; } }
      @media (max-width: 767px) {
        .footer .copyright-link-body {
          margin-bottom: 0.5rem; } }
      .footer .copyright-link .copyright-items1,
      .footer .copyright-link .copyright-items2 {
        color: #fff; }
        .footer .copyright-link .copyright-items1:hover,
        .footer .copyright-link .copyright-items2:hover {
          color: #650300;
          background: #fff; }
      .footer .copyright-link .copyright-items1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer .copyright-link .copyright-items1 {
            margin-right: 1.5rem; } }

.banner {
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-size: cover;
  background-position: center center;
  position: relative; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true"); } }
  @media (max-width: 767px) {
    .banner {
      height: 394px; } }
  .banner-slogan {
    color: #650300;
    text-align: right;
    position: absolute;
    top: 348px;
    right: 20px; }
    @media (max-width: 992px) {
      .banner-slogan {
        top: 372px;
        right: 35px; }
        .banner-slogan .banner-intro {
          font-size: 1.25rem; }
        .banner-slogan .banner-text {
          font-size: 3rem; } }
    @media (max-width: 767px) {
      .banner-slogan {
        top: 164px;
        right: 15px; }
        .banner-slogan .banner-intro {
          font-size: 1rem;
          line-height: 1.25rem; }
        .banner-slogan .banner-text {
          font-size: 2rem;
          line-height: 4.5rem; } }

.index-subtitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #650300;
  text-align: center; }
  @media (max-width: 992px) {
    .index-subtitle {
      font-size: 2rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .index-subtitle {
      font-size: 1.5rem;
      line-height: 3rem; } }

.about {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background-color: #AA06010D; }
  @media (max-width: 992px) {
    .about {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .about {
      padding-top: 2rem;
      padding-bottom: 2.5rem; } }
  .about-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%; }
    @media (max-width: 992px) {
      .about-body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .about-items1, .about-items2, .about-items3, .about-items4 {
    max-width: 23%;
    margin: 0 auto; }
  @media (max-width: 992px) {
    .about-items1, .about-items2 {
      max-width: 255px;
      margin-left: 3.35rem;
      margin-right: 3.35rem;
      margin-bottom: 2rem; } }
  @media (max-width: 992px) {
    .about-items3, .about-items4 {
      max-width: 255px;
      margin-left: 3.35rem;
      margin-right: 3.35rem; } }
  @media (max-width: 767px) {
    .about-items1, .about-items2, .about-items3 {
      max-width: 255px;
      margin-left: 3.8rem;
      margin-right: 3.8rem;
      margin-bottom: 2rem; } }
  .about-icon {
    width: 100px;
    padding: 8.08px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .about-title {
    font-size: 1.5rem;
    color: #650300;
    text-align: center;
    margin-bottom: 0.5rem; }

.classic-glass {
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .classic-glass {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .classic-glass {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      max-width: 100%;
      margin: 0 auto; } }
  .classic-glass-body1, .classic-glass-body2, .classic-glass-body3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #AA0601;
    max-width: 100%;
    margin: 0 auto;
    position: relative; }
  .classic-glass-body1, .classic-glass-body2 {
    margin-bottom: 2rem; }
    @media (max-width: 992px) {
      .classic-glass-body1, .classic-glass-body2 {
        margin-bottom: 0.5rem; } }
  .classic-glass-items1, .classic-glass-items2, .classic-glass-items3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      .classic-glass-items1, .classic-glass-items2, .classic-glass-items3 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }
  .classic-glass-img, .classic-glass-img2 {
    max-width: 58%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .classic-glass-img, .classic-glass-img2 {
        max-width: 52%; } }
    @media (max-width: 767px) {
      .classic-glass-img, .classic-glass-img2 {
        max-width: 100%; } }
  .classic-glass-img2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media (max-width: 992px) {
      .classic-glass-img2 {
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2; } }
  .classic-glass .material-icons {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    margin-left: 2.8125rem;
    margin-right: 1.5rem; }
    @media (max-width: 992px) {
      .classic-glass .material-icons {
        -webkit-transform: scale(1.67);
            -ms-transform: scale(1.67);
                transform: scale(1.67);
        margin-left: 2.45rem;
        margin-right: 1rem; } }
    @media (max-width: 767px) {
      .classic-glass .material-icons {
        margin-left: 0rem; } }
  .classic-glass-icon3 {
    width: 48px;
    height: 48px;
    margin-left: 1.875rem;
    margin-right: 0.5rem; }
    @media (max-width: 992px) {
      .classic-glass-icon3 {
        width: 40px;
        height: 40px;
        margin-left: 1.875rem;
        margin-right: 0.5rem; } }
    @media (max-width: 767px) {
      .classic-glass-icon3 {
        margin-left: 0rem; } }
  @media (max-width: 992px) {
    .classic-glass-icon2 {
      width: 40px;
      height: 40px;
      margin-left: 1.875rem;
      margin-right: 0.5rem; } }
  @media (max-width: 767px) {
    .classic-glass-icon2 {
      margin-left: 0rem; } }
  .classic-glass-title1, .classic-glass-title2, .classic-glass-title3 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900; }
    @media (max-width: 992px) {
      .classic-glass-title1, .classic-glass-title2, .classic-glass-title3 {
        font-size: 1.75rem;
        line-height: 4rem; } }
    @media (max-width: 470px) {
      .classic-glass-title1, .classic-glass-title2, .classic-glass-title3 {
        font-size: 1.5rem;
        line-height: 3.5rem; } }
  .classic-glass-title2 {
    margin-left: 0.625rem;
    margin-right: 1.875rem; }
    @media (max-width: 992px) {
      .classic-glass-title2 {
        margin-left: 0rem;
        margin-right: 0rem; } }

.cobranded-glass {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-size: cover;
  background-position: center center;
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .cobranded-glass {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .cobranded-glass {
      padding-top: 2rem;
      padding-bottom: 2.5rem; } }
  .cobranded-glass .index-subtitle {
    color: #fff; }
  .cobranded-glass-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%; }
    @media (max-width: 767px) {
      .cobranded-glass-body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .cobranded-glass-item1, .cobranded-glass-item2 {
    max-width: 49%;
    height: auto;
    position: relative;
    margin: auto; }
    @media (max-width: 767px) {
      .cobranded-glass-item1, .cobranded-glass-item2 {
        max-width: 100%;
        margin: 0; } }
  .cobranded-glass-item1 {
    margin-right: 1.875rem; }
    @media (max-width: 767px) {
      .cobranded-glass-item1 {
        margin-right: 0rem;
        margin-bottom: 1rem; } }
  .cobranded-glass-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    top: 0;
    left: 0; }
  .cobranded-glass-title {
    font-size: 4.5rem;
    white-space: nowrap;
    font-weight: 700;
    color: #AA0601;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 992px) {
      .cobranded-glass-title {
        font-size: 2rem;
        line-height: 25px; } }

.recommend {
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .recommend {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .recommend {
      padding-top: 1.5rem;
      padding-bottom: 2.5rem; } }
  .recommend-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%; }
    @media (max-width: 992px) {
      .recommend-body {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .recommend-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .recommend-card1, .recommend-card2, .recommend-card3, .recommend-card4 {
    max-width: 24%;
    border: 1px solid #dee2e6;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .recommend-card1, .recommend-card2, .recommend-card3, .recommend-card4 {
        max-width: 325px; } }
    @media (max-width: 767px) {
      .recommend-card1, .recommend-card2, .recommend-card3, .recommend-card4 {
        margin: 0 auto; } }
  @media (max-width: 992px) {
    .recommend-card1, .recommend-card2 {
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .recommend-card1, .recommend-card2, .recommend-card3 {
      margin-bottom: 1rem; } }
  .recommend-img {
    margin: 0 auto;
    border-radius: 4px 4px 0px 0px; }
  .recommend-content1, .recommend-content2 {
    position: relative;
    height: 204px;
    color: #212529;
    margin: 1rem 1.5rem; }
  .recommend-name {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem; }
  .recommend-text {
    font-size: 1rem; }
  .recommend-date {
    color: #707070;
    position: absolute;
    bottom: 0;
    font-size: 0.875rem; }

.contactus {
  background: #AA06010D;
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .contactus {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .contactus {
      padding-top: 1.875rem;
      padding-bottom: 2.5rem; } }
  .contactus .container {
    padding: 0px 190px; }
    @media (max-width: 992px) {
      .contactus .container {
        padding: 0px 120px; } }
    @media (max-width: 767px) {
      .contactus .container {
        padding: 15px;
        margin: 0 auto; } }
    .contactus .container .index-subtitle {
      margin-bottom: 1.5rem; }
      @media (max-width: 767px) {
        .contactus .container .index-subtitle {
          margin-bottom: 1.25rem; } }
    .contactus .container .contactus-text {
      font-size: 1.25rem;
      margin-bottom: 1.25rem; }
      @media (max-width: 992px) {
        .contactus .container .contactus-text {
          font-size: 1rem;
          margin-bottom: 1rem; } }
    .contactus .container .form {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 992px) {
        .contactus .container .form {
          font-size: 0.875rem; } }
      .contactus .container .form-input1, .contactus .container .form-input2 {
        width: 100%;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
        background: transparent;
        font-size: 1rem;
        border: 2px solid black; }
        @media (max-width: 992px) {
          .contactus .container .form-input1, .contactus .container .form-input2 {
            margin-bottom: 0.5rem;
            font-size: 0.875rem; } }
      .contactus .container .form-input1 {
        padding: 12px 16px 14px 16px; }
        @media (max-width: 992px) {
          .contactus .container .form-input1 {
            padding-top: 8px;
            padding-bottom: 8px; } }
        @media (max-width: 767px) {
          .contactus .container .form-input1 {
            padding-top: 7px;
            padding-bottom: 9px; } }
      .contactus .container .form-input2 {
        padding: 14px 16px 15px 16px; }
        @media (max-width: 992px) {
          .contactus .container .form-input2 {
            padding-top: 9px;
            padding-bottom: 8px; } }
        @media (max-width: 767px) {
          .contactus .container .form-input2 {
            padding-top: 8px;
            padding-bottom: 9px; } }
      .contactus .container .form ::-webkit-input-placeholder {
        opacity: 0.2; }
      .contactus .container .form ::-moz-placeholder {
        opacity: 0.2; }
      .contactus .container .form :-ms-input-placeholder {
        opacity: 0.2; }
      .contactus .container .form ::-ms-input-placeholder {
        opacity: 0.2; }
      .contactus .container .form ::placeholder {
        opacity: 0.2; }
      .contactus .container .form input[type=checkbox] {
        display: none; }
      .contactus .container .form input[type=checkbox] + label::before {
        content: "\2714";
        border: 2px solid #000;
        width: 24px;
        height: 24px;
        display: inline-block;
        color: transparent;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        cursor: pointer;
        vertical-align: middle;
        margin-right: 4px; }
        @media (max-width: 992px) {
          .contactus .container .form input[type=checkbox] + label::before {
            width: 17.8px;
            height: 17.8px;
            margin-right: 2.4px; } }
      .contactus .container .form input[type=checkbox]:checked + label:before {
        content: "\2714";
        background: #AA0601;
        content: "✓";
        color: #fff;
        font-size: 16px;
        text-align: center;
        padding-bottom: 20px; }
        @media (max-width: 992px) {
          .contactus .container .form input[type=checkbox]:checked + label:before {
            font-size: 12px;
            padding-top: 0px;
            padding-bottom: 0px; } }
      .contactus .container .form input[type=submit] {
        width: 350px;
        height: 54px;
        color: #fff;
        background-color: #AA0601;
        margin-top: 40px;
        border: none;
        -ms-flex-item-align: center;
            align-self: center; }
        @media (max-width: 992px) {
          .contactus .container .form input[type=submit] {
            width: 210px;
            height: 40px;
            margin-top: 20px; } }
        @media (max-width: 767px) {
          .contactus .container .form input[type=submit] {
            width: 165px;
            height: 36px; } }
        .contactus .container .form input[type=submit]:hover {
          background: #650300;
          color: #fff;
          font-weight: bold; }

.production-bar-op-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.production-bar-op-body1, .production-bar-op-body2, .production-bar-op-body3 {
  width: 33.3%;
  border-bottom: 8px solid transparent;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding-top: 24px;
  padding-bottom: 16px; }
  @media (max-width: 992px) {
    .production-bar-op-body1, .production-bar-op-body2, .production-bar-op-body3 {
      padding-top: 14px;
      padding-bottom: 14px; } }
  @media (max-width: 767px) {
    .production-bar-op-body1, .production-bar-op-body2, .production-bar-op-body3 {
      padding-top: 6px;
      padding-bottom: 1px;
      border-bottom: 4px solid transparent; } }

.production-bar-op-body1 {
  border-bottom: 8px solid #AA0601; }
  @media (max-width: 767px) {
    .production-bar-op-body1 {
      border-bottom: 4px solid #AA0601; } }

.production-bar-op-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  width: 100%;
  height: auto; }

.production-bar-op .material-icons {
  font-size: 44px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .production-bar-op .material-icons {
      font-size: 32px;
      margin-right: 8px;
      margin-bottom: 0px; } }
  @media (max-width: 767px) {
    .production-bar-op .material-icons {
      font-size: 16px;
      margin-right: 2px; } }

.production-bar-op-icon2 {
  width: 44px;
  height: 44px;
  padding: 2px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .production-bar-op-icon2 {
      width: 32px;
      height: 32px;
      padding: 1.33px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .production-bar-op-icon2 {
      width: 16px;
      height: 16px;
      padding: 1.34px;
      margin-right: 2px; } }

.production-bar-op-icon3 {
  width: 48px;
  height: 48px;
  padding: 4px 0px;
  margin-right: 7px; }
  @media (max-width: 992px) {
    .production-bar-op-icon3 {
      width: 32px;
      height: 32px;
      padding: 2.67px 0px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .production-bar-op-icon3 {
      width: 16px;
      height: 16px;
      padding: 1.33px 0px;
      margin-right: 2px; } }

.production-bar-op-title {
  font-size: 2rem;
  font-weight: 500; }
  @media (max-width: 992px) {
    .production-bar-op-title {
      font-size: 1.5rem; } }
  @media (max-width: 767px) {
    .production-bar-op-title {
      font-size: 0.875rem;
      line-height: 0.875rem; } }

.production-bar-op-hover-box {
  display: none; }

.production-banner-op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem; }
  @media (max-width: 992px) {
    .production-banner-op {
      margin-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .production-banner-op {
      margin-bottom: 2rem; } }
  .production-banner-op-items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .production-banner-op-pic1, .production-banner-op-pic2 {
    width: 100%;
    height: 304px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 767px) {
      .production-banner-op-pic1, .production-banner-op-pic2 {
        height: 148px; } }

.production-op-title {
  font-size: 2.625rem;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 992px) {
    .production-op-title {
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .production-op-title {
      font-size: 1.25rem;
      line-height: 3rem; } }

.production-op-subtitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .production-op-subtitle {
      font-size: 1.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .production-op-subtitle {
      font-size: 1rem;
      line-height: 2.25rem;
      margin-bottom: 1.25rem; } }

.production-op-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .production-op-body {
      display: block;
      max-width: 345px;
      margin: 0 auto; } }

.production-op-card {
  max-width: 24%; }
  @media (max-width: 992px) {
    .production-op-card {
      max-width: 48%; } }
  @media (max-width: 767px) {
    .production-op-card {
      max-width: 100%; } }

.production-op-pics {
  width: 255px;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 992px) {
    .production-op-pics {
      width: 330px; } }
  @media (max-width: 767px) {
    .production-op-pics {
      width: 345px;
      height: 166px; } }

.production-op-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem; }
  @media (max-width: 1110px) {
    .production-op-text {
      font-size: 1.25rem; } }

.production-op-price {
  font-weight: 500;
  color: #AA0601; }

.production-op-color, .production-op-colorA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.5rem; }
  @media (max-width: 992px) {
    .production-op-color, .production-op-colorA {
      margin-bottom: 4.5rem; } }
  @media (max-width: 767px) {
    .production-op-color, .production-op-colorA {
      margin-bottom: 2rem; } }
  .production-op-color1, .production-op-colorA1 {
    width: 24px;
    height: 24px;
    background: #5f3e2d;
    border-radius: 4px;
    margin-right: 0.5rem; }
  .production-op-color2, .production-op-colorA2 {
    width: 24px;
    height: 24px;
    background: #b75929;
    border-radius: 4px; }

.production-op-colorA {
  margin-bottom: 6rem; }

.pc-dp-n {
  display: none; }
  @media (max-width: 992px) {
    .pc-dp-n {
      display: block; } }

@media (max-width: 992px) {
  .pad-dp-n {
    display: none; } }

@media (max-width: 767px) {
  .mobile-dp-n {
    display: none; } }

@media (max-width: 992px) {
  .pad-mb-1 {
    margin-bottom: 4.0625rem; } }

@media (max-width: 767px) {
  .mob-mb-1 {
    margin-bottom: 3.5rem; } }

.op-link-pages-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
  font-size: 1.125rem; }
  @media (max-width: 992px) {
    .op-link-pages-body {
      margin-bottom: 6rem; } }
  @media (max-width: 767px) {
    .op-link-pages-body {
      font-size: 1rem;
      margin-bottom: 3.5rem; } }

.op-link-pages-to111, .op-link-pages-to112, .op-link-pages-to21 {
  color: #555555; }

.op-link-pages-to111, .op-link-pages-to112 {
  padding: 11px 12px;
  font-size: 19px;
  line-height: 29px;
  border: 1px solid #555555; }
  @media (max-width: 767px) {
    .op-link-pages-to111, .op-link-pages-to112 {
      padding: 10px 11px 11px 11px;
      font-size: 17px;
      line-height: 26px; } }

.op-link-pages-to112 {
  background: #F2F2F2; }

.op-link-pages-to21, .op-link-pages-to22 {
  padding: 12px 16px;
  border: 1px solid #555555; }
  @media (max-width: 767px) {
    .op-link-pages-to21, .op-link-pages-to22 {
      padding-left: 14px;
      padding-right: 14px; } }

.op-link-pages-to22 {
  background: #000;
  color: #fff; }

.production-bar-sun-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.production-bar-sun-body1, .production-bar-sun-body2, .production-bar-sun-body3 {
  width: 33.3%;
  border-bottom: 8px solid transparent;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding-top: 24px;
  padding-bottom: 16px; }
  @media (max-width: 992px) {
    .production-bar-sun-body1, .production-bar-sun-body2, .production-bar-sun-body3 {
      padding-top: 14px;
      padding-bottom: 14px; } }
  @media (max-width: 767px) {
    .production-bar-sun-body1, .production-bar-sun-body2, .production-bar-sun-body3 {
      padding-top: 6px;
      padding-bottom: 1px;
      border-bottom: 4px solid transparent; } }

.production-bar-sun-body2 {
  border-bottom: 8px solid #AA0601; }
  @media (max-width: 767px) {
    .production-bar-sun-body2 {
      border-bottom: 4px solid #AA0601; } }

.production-bar-sun-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  width: 100%;
  height: auto; }

.production-bar-sun .material-icons {
  font-size: 44px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .production-bar-sun .material-icons {
      font-size: 32px;
      margin-right: 8px;
      margin-bottom: 0px; } }
  @media (max-width: 767px) {
    .production-bar-sun .material-icons {
      font-size: 16px;
      margin-right: 2px; } }

.production-bar-sun-icon2 {
  width: 44px;
  height: 44px;
  padding: 2px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .production-bar-sun-icon2 {
      width: 32px;
      height: 32px;
      padding: 1.33px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .production-bar-sun-icon2 {
      width: 16px;
      height: 16px;
      padding: 1.34px;
      margin-right: 2px; } }

.production-bar-sun-icon3 {
  width: 48px;
  height: 48px;
  padding: 4px 0px;
  margin-right: 7px; }
  @media (max-width: 992px) {
    .production-bar-sun-icon3 {
      width: 32px;
      height: 32px;
      padding: 2.67px 0px;
      margin-right: 8px; } }
  @media (max-width: 767px) {
    .production-bar-sun-icon3 {
      width: 16px;
      height: 16px;
      padding: 1.33px 0px;
      margin-right: 2px; } }

.production-bar-sun-title {
  font-size: 2rem;
  font-weight: 500; }
  @media (max-width: 992px) {
    .production-bar-sun-title {
      font-size: 1.5rem; } }
  @media (max-width: 767px) {
    .production-bar-sun-title {
      font-size: 0.875rem;
      line-height: 0.875rem; } }

.production-bar-sun-hover-box {
  display: none; }

.production-banner-sun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem; }
  @media (max-width: 992px) {
    .production-banner-sun {
      margin-bottom: 3.5rem; } }
  @media (max-width: 767px) {
    .production-banner-sun {
      margin-bottom: 2rem; } }
  .production-banner-sun-items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .production-banner-sun-pic1, .production-banner-sun-pic2 {
    width: 100%;
    height: 304px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 767px) {
      .production-banner-sun-pic1, .production-banner-sun-pic2 {
        height: 148px; } }

.production-sun-title {
  font-size: 2.625rem;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 992px) {
    .production-sun-title {
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .production-sun-title {
      font-size: 1.25rem;
      line-height: 3rem; } }

.production-sun-subtitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem; }
  @media (max-width: 992px) {
    .production-sun-subtitle {
      font-size: 1.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .production-sun-subtitle {
      font-size: 1rem;
      line-height: 2.25rem;
      margin-bottom: 1.25rem; } }

.production-sun-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .production-sun-body {
      display: block;
      max-width: 345px;
      margin: 0 auto; } }

.production-sun-card {
  max-width: 31%; }
  @media (max-width: 992px) {
    .production-sun-card {
      max-width: 50%; } }
  @media (max-width: 767px) {
    .production-sun-card {
      max-width: 100%; } }

.production-sun-pics {
  width: 350px;
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 992px) {
    .production-sun-pics {
      width: 330px;
      height: 164px; } }
  @media (max-width: 767px) {
    .production-sun-pics {
      width: 345px;
      height: 166px; } }

.production-sun-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem; }
  @media (max-width: 1110px) {
    .production-sun-text {
      font-size: 1.25rem; } }

.production-sun-price {
  font-weight: 500;
  color: #AA0601; }

.production-sun-color, .production-sun-colorA, .production-sun-colorAB, .production-sun-colorB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .production-sun-color1, .production-sun-colorA1, .production-sun-colorAB1, .production-sun-colorB1 {
    width: 24px;
    height: 24px;
    background: #5f3e2d;
    border-radius: 4px;
    margin-right: 0.5rem; }
  .production-sun-color2, .production-sun-colorA2, .production-sun-colorAB2, .production-sun-colorB2 {
    width: 24px;
    height: 24px;
    background: #b75929;
    border-radius: 4px; }

.production-sun-color {
  margin-bottom: 6.5rem; }
  @media (max-width: 992px) {
    .production-sun-color {
      margin-bottom: 4.5rem; } }
  @media (max-width: 767px) {
    .production-sun-color {
      margin-bottom: 2rem; } }

.production-sun-colorA {
  margin-bottom: 10rem; }
  @media (max-width: 992px) {
    .production-sun-colorA {
      margin-bottom: 4.5rem; } }

.production-sun-colorAB {
  margin-bottom: 10rem; }
  @media (max-width: 992px) {
    .production-sun-colorAB {
      margin-bottom: 6rem; } }

.production-sun-colorB {
  margin-bottom: 10rem; }
  @media (max-width: 992px) {
    .production-sun-colorB {
      margin-bottom: 6rem; } }
  @media (max-width: 767px) {
    .production-sun-colorB {
      margin-bottom: 2.5rem; } }

@media (max-width: 767px) {
  .mobile-dp-n {
    display: none; } }

.sun-link-pages {
  display: none; }
  @media (max-width: 767px) {
    .sun-link-pages {
      display: block; }
      .sun-link-pages-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 1rem;
        margin-bottom: 3.5rem; }
      .sun-link-pages-to111, .sun-link-pages-to112, .sun-link-pages-to21 {
        color: #555555; }
      .sun-link-pages-to111, .sun-link-pages-to112 {
        padding: 10px 11px 11px 11px;
        font-size: 17px;
        line-height: 26px;
        border: 1px solid #555555; }
      .sun-link-pages-to112 {
        background: #F2F2F2; }
      .sun-link-pages-to21, .sun-link-pages-to22 {
        padding: 12px 14px;
        border: 1px solid #555555; }
      .sun-link-pages-to22 {
        background: #000;
        color: #fff; } }

.location {
  padding-top: 6rem;
  padding-bottom: 10rem; }
  @media (max-width: 992px) {
    .location {
      padding-top: 3.75rem;
      padding-bottom: 6rem; } }
  @media (max-width: 767px) {
    .location {
      padding-top: 1.75rem;
      padding-bottom: 3.5rem; } }
  .location h1 {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 700;
    border-left: 8px solid #9f1213;
    padding-left: 1rem;
    margin-bottom: 3.75rem; }
    @media (max-width: 992px) {
      .location h1 {
        border-left: 4px solid #9f1213;
        margin-bottom: 2.5rem; } }
    @media (max-width: 767px) {
      .location h1 {
        font-size: 1.75rem;
        line-height: 3rem;
        font-weight: 700;
        border-left: 4px solid #9f1213;
        padding-left: 0.5rem;
        margin-bottom: 1.5rem; } }
  .location-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem; }
    @media (max-width: 992px) {
      .location-area {
        margin-bottom: 1.5rem; } }
    @media (max-width: 767px) {
      .location-area {
        margin-bottom: 1.25rem; } }
    .location-area-choose {
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-right: 1.25rem; }
      @media (max-width: 992px) {
        .location-area-choose {
          font-size: 1rem; } }
      @media (max-width: 767px) {
        .location-area-choose {
          font-size: 0.875rem;
          margin-right: 0.75rem; } }
    .location-area-tw {
      width: 324px;
      height: 45px;
      color: #495057;
      padding: 8px 0px 11px 19px;
      font-size: 18px;
      line-height: 26px; }
      @media (max-width: 992px) {
        .location-area-tw {
          width: 237px;
          height: 46px;
          padding: 10px 0px 12px 16px;
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 767px) {
        .location-area-tw {
          width: 277px;
          height: 36px;
          padding: 7px 0px 9px 16px;
          font-size: 14px; } }
  .location-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    @media (max-width: 767px) {
      .location-body {
        display: block;
        width: 345px;
        margin: 0 auto; } }
  .location-list {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.25%;
            flex: 0 0 31.25%; }
    @media (max-width: 992px) {
      .location-list {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 47.8%;
                flex: 0 0 47.8%; } }
    @media (max-width: 767px) {
      .location-list {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
  .location-img {
    width: 100%;
    height: 224px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .location-img {
        height: 164px; } }
    @media (max-width: 767px) {
      .location-img {
        width: 345px; } }
  .location-store {
    font-size: 1.5rem;
    padding: 12px 24px;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-store {
        font-size: 1rem;
        padding: 8px 24px; } }
  .location-card {
    padding: 16px 24px 8px 24px;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-card {
        padding: 16px 24px; } }
  .location-info1, .location-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem;
    margin-bottom: 0.5rem; }
    @media (max-width: 992px) {
      .location-info1, .location-info2 {
        font-size: 0.875rem; } }
  .location-info1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 992px) {
    .location-info2 {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .location-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem; }
    @media (max-width: 992px) {
      .location-icon {
        width: 20px;
        height: 20px; } }
  .location-link {
    width: 100%; }
  .location-more-detail {
    font-size: 19px;
    line-height: 27px;
    color: #fff;
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    .location-more-detail:hover {
      background: #495057; }
    @media (max-width: 992px) {
      .location-more-detail {
        font-size: 14px;
        line-height: 21px;
        padding-top: 16px;
        padding-bottom: 16px; } }

.location-2 {
  padding-top: 6rem;
  padding-bottom: 10rem; }
  @media (max-width: 992px) {
    .location-2 {
      padding-top: 3.75rem;
      padding-bottom: 6rem; } }
  @media (max-width: 767px) {
    .location-2 {
      padding-top: 1.75rem;
      padding-bottom: 3.5rem; } }
  .location-2 h1 {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 700;
    border-left: 8px solid #9f1213;
    padding-left: 1rem;
    margin-bottom: 3.75rem; }
    @media (max-width: 992px) {
      .location-2 h1 {
        border-left: 4px solid #9f1213;
        margin-bottom: 2.5rem; } }
    @media (max-width: 767px) {
      .location-2 h1 {
        font-size: 1.75rem;
        line-height: 3rem;
        font-weight: 700;
        border-left: 4px solid #9f1213;
        padding-left: 0.5rem;
        margin-bottom: 1.5rem; } }
  .location-2-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem; }
    @media (max-width: 992px) {
      .location-2-area {
        margin-bottom: 1.5rem; } }
    @media (max-width: 767px) {
      .location-2-area {
        margin-bottom: 1.25rem; } }
    .location-2-area-choose {
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-right: 1.375rem; }
      @media (max-width: 992px) {
        .location-2-area-choose {
          font-size: 1rem;
          margin-right: 1.25rem; } }
      @media (max-width: 767px) {
        .location-2-area-choose {
          font-size: 0.875rem;
          margin-right: 0.75rem; } }
    .location-2-area-tp {
      width: 324px;
      height: 45px;
      color: #495057;
      padding: 8px 0px 11px 19px;
      font-size: 18px;
      line-height: 26px; }
      @media (max-width: 992px) {
        .location-2-area-tp {
          width: 237px;
          height: 46px;
          padding: 12px 0px 12px 16px;
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 767px) {
        .location-2-area-tp {
          width: 277px;
          height: 36px;
          padding: 7px 0px 9px 16px;
          font-size: 14px; } }
  .location-2-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    @media (max-width: 992px) {
      .location-2-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 767px) {
      .location-2-body {
        width: 345px;
        margin: 0 auto; } }
  .location-2-item {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40.1%;
            flex: 0 0 40.1%; }
    @media (max-width: 992px) {
      .location-2-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
    @media (max-width: 767px) {
      .location-2-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-bottom: 1rem; } }
  .location-2-item1, .location-2-item2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47.8%;
            flex: 0 0 47.8%; }
  .location-2-img {
    width: 100%;
    height: 224px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .location-2-img {
        height: 164px; } }
    @media (max-width: 767px) {
      .location-2-img {
        width: 345px; } }
  .location-2-store {
    font-size: 1.5rem;
    padding: 12px 24px;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-2-store {
        font-size: 1rem;
        padding: 8.5px 16px 7.5px 16px; } }
  .location-2-card {
    padding: 16px 24px 8px 24px;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .location-2-card {
        padding: 16px 24px; } }
  .location-2-info1, .location-2-info2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    @media (max-width: 992px) {
      .location-2-info1, .location-2-info2 {
        font-size: 0.875rem; } }
  .location-2-info1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 992px) {
    .location-2-info2 {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0px; } }
  .location-2-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem; }
    @media (max-width: 992px) {
      .location-2-icon {
        width: 20px;
        height: 20px; } }
  .location-2-mapbox {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 57.2%;
            flex: 0 0 57.2%;
    display: block; }
    @media (max-width: 992px) {
      .location-2-mapbox {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
    @media (max-width: 767px) {
      .location-2-mapbox {
        height: 211px; } }

.faq {
  padding-top: 6rem;
  padding-bottom: 10rem; }
  @media (max-width: 992px) {
    .faq {
      padding-top: 3.75rem;
      padding-bottom: 6rem; } }
  @media (max-width: 767px) {
    .faq {
      padding-top: 2.25rem;
      padding-bottom: 3.5rem; } }
  .faq-title {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 700;
    border-left: 8px solid #9f1213;
    padding-left: 1rem;
    margin-bottom: 3.75rem; }
    @media (max-width: 992px) {
      .faq-title {
        margin-bottom: 2.5rem;
        border-left: 4px solid #9f1213; } }
    @media (max-width: 767px) {
      .faq-title {
        font-size: 1.75rem;
        padding-left: 0.5rem;
        margin-bottom: 1.5rem; } }
  .faq-subtitle {
    font-size: 2rem;
    line-height: 63px;
    font-weight: 700;
    margin-bottom: 2.25rem; }
    @media (max-width: 992px) {
      .faq-subtitle {
        margin-bottom: 2rem; } }
    @media (max-width: 767px) {
      .faq-subtitle {
        font-size: 1.25rem;
        line-height: 63px;
        font-weight: 300;
        margin-bottom: 1.5rem; } }
  .faq-question {
    font-size: 1.25rem;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 1rem; }
    @media (max-width: 767px) {
      .faq-question {
        font-size: 1rem;
        margin-bottom: 0.5rem; } }
  .faq-answer {
    padding-left: 95px;
    margin-bottom: 2rem; }
    @media (max-width: 992px) {
      .faq-answer {
        padding-left: 3.75rem;
        margin-bottom: 1.5rem; } }
    @media (max-width: 767px) {
      .faq-answer {
        font-size: 0.875rem;
        padding-left: 0rem;
        margin-bottom: 1.25rem; } }
  .faq-answer2 {
    padding-left: 95px;
    margin-bottom: 0rem; }
    @media (max-width: 992px) {
      .faq-answer2 {
        padding-left: 3.75rem; } }
    @media (max-width: 767px) {
      .faq-answer2 {
        font-size: 0.875rem;
        padding-left: 0rem; } }

/*# sourceMappingURL=all.css.map */
