/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none; }

.d-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text-color-light {
  color: #fff; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.fs-italic {
  font-style: italic; }

.fz-1 {
  font-size: 1rem; }

.fz-2 {
  font-size: 1.25rem; }

.fz-3 {
  font-size: 1.5rem; }

.fz-4 {
  font-size: 1.75rem; }

.fz-5 {
  font-size: 2rem; }

.fz-6 {
  font-size: 2.25rem; }

.fz-7 {
  font-size: 2.5rem; }

.fz-8 {
  font-size: 2.75rem; }

.fz-9 {
  font-size: 3rem; }

.fz-a1 {
  font-size: 4rem; }

.fz-a2 {
  font-size: 4.5rem; }

.fz-b1 {
  font-size: 0.875rem; }

.fz-b2 {
  font-size: 1.125rem; }

.fz-b3 {
  font-size: 1.1875rem; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 934px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 767px; } }

.header {
  background-color: #AA0601;
  padding: 1.25rem 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .header {
      padding-left: 39px;
      padding-right: 39px; } }
  @media (max-width: 768px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.625rem 0px 0px 0px; }
      .header .nav-logo {
        width: 48px;
        margin-bottom: 0.625rem; } }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    @media (max-width: 768px) {
      .header .menu-bar {
        width: 49%;
        text-align: center; } }
    .header .menu-items, .header .menu-items-2 {
      display: block;
      color: #fff;
      padding: 0.625rem 2rem; }
      .header .menu-items:hover, .header .menu-items-2:hover {
        color: #650300;
        background: #fff; }
      @media (max-width: 768px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px;
          border: 1px solid #fff; } }
      @media (max-width: 470px) {
        .header .menu-items, .header .menu-items-2 {
          padding: 0.5rem 0px; } }
    @media (max-width: 768px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }
    @media (max-width: 470px) {
      .header .menu-items-2 {
        padding: 0.5rem 0px; } }

.footer {
  color: #fff;
  background: #AA0601;
  padding-top: 2.75rem; }
  @media (max-width: 992px) {
    .footer {
      padding-top: 2rem; } }
  @media (max-width: 768px) {
    .footer {
      padding-top: 1.5rem; } }
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .footer-link {
        display: none; } }
    .footer-link .footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.75rem;
      margin-bottom: 2rem; }
      @media (max-width: 992px) {
        .footer-link .footer-menu {
          padding-top: 0.375rem;
          margin-left: 0.5625rem;
          margin-bottom: 1.125rem; } }
      .footer-link .footer-menu-body1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer-link .footer-menu-body1 {
            margin-right: 2.5rem; } }
      .footer-link .footer-menu-items {
        color: #fff; }
        .footer-link .footer-menu-items:hover {
          color: #650300;
          background: #fff; }
    .footer-link .footer-sns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-link .footer-sns-icon1 {
        margin-right: 2rem; }
        @media (max-width: 992px) {
          .footer-link .footer-sns-icon1 {
            margin-right: 1.5rem;
            margin-bottom: 1.5rem; } }
      @media (max-width: 992px) {
        .footer-link .footer-sns-icon1, .footer-link .footer-sns-icon2 {
          width: 24px; } }
  .footer .address-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .address-body .address1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0.5rem; }
      @media (max-width: 992px) {
        .footer .address-body .address1 {
          margin-bottom: 0.75rem;
          font-size: 1.25rem; } }
      @media (max-width: 768px) {
        .footer .address-body .address1 {
          margin-bottom: 0.375rem;
          font-size: 1rem;
          line-height: 1.875rem; } }
      .footer .address-body .address1 .telto-icon {
        padding: 0.375rem;
        margin-right: 1.375rem; }
        @media (max-width: 992px) {
          .footer .address-body .address1 .telto-icon {
            width: 24px;
            padding: 3px;
            margin-right: 0.5rem; } }
        @media (max-width: 768px) {
          .footer .address-body .address1 .telto-icon {
            width: 20px;
            padding: 2.5px;
            margin-right: 0.25rem; } }
      .footer .address-body .address1 .telto-number {
        color: #fff; }
    .footer .address-body .sns-icon-mobile {
      display: none; }
      @media (max-width: 768px) {
        .footer .address-body .sns-icon-mobile {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer .address-body .sns-icon-mobile1, .footer .address-body .sns-icon-mobile2 {
            width: 24px; }
          .footer .address-body .sns-icon-mobile1 {
            margin-right: 1.5rem; } }
  .footer .address2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem; }
    @media (max-width: 992px) {
      .footer .address2 {
        margin-bottom: 1.25rem;
        font-size: 1.25rem; } }
    @media (max-width: 768px) {
      .footer .address2 {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.875rem; } }
    .footer .address2 .mailto-icon {
      margin-right: 1.25rem; }
      @media (max-width: 992px) {
        .footer .address2 .mailto-icon {
          width: 24px;
          padding: 0.25rem 0.125rem;
          margin-right: 0.5rem; } }
      @media (max-width: 768px) {
        .footer .address2 .mailto-icon {
          width: 20px;
          padding: 3.33px 1.67px;
          margin-right: 0.3125rem; } }
    .footer .address2 .mailto-address {
      color: #fff; }
  .footer-hr {
    border-bottom: 1px solid #fff;
    margin-bottom: 2.0625rem; }
    @media (max-width: 992px) {
      .footer-hr {
        margin-bottom: 1.5rem; } }
    @media (max-width: 768px) {
      .footer-hr {
        margin-bottom: 1rem; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2.4375rem; }
    @media (max-width: 992px) {
      .footer .copyright {
        padding-bottom: 1.3125rem; } }
    @media (max-width: 768px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 1.5rem; } }
    @media (max-width: 768px) {
      .footer .copyright-slogan {
        font-size: 0.875rem;
        margin-bottom: 0.5rem; } }
    .footer .copyright-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 992px) {
        .footer .copyright-link {
          margin-top: 0.75rem; } }
      @media (max-width: 768px) {
        .footer .copyright-link {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 0; } }
      @media (max-width: 768px) {
        .footer .copyright-link-body {
          margin-bottom: 0.5rem; } }
      .footer .copyright-link .copyright-items1,
      .footer .copyright-link .copyright-items2 {
        color: #fff; }
        .footer .copyright-link .copyright-items1:hover,
        .footer .copyright-link .copyright-items2:hover {
          color: #650300;
          background: #fff; }
      .footer .copyright-link .copyright-items1 {
        margin-right: 3rem; }
        @media (max-width: 992px) {
          .footer .copyright-link .copyright-items1 {
            margin-right: 1.5rem; } }

* {
  outline: 1px solid blue; }

.banner {
  height: 840px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-size: cover;
  background-position: center center;
  position: relative; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true"); } }
  @media (max-width: 768px) {
    .banner {
      height: 394px; } }
  .banner-slogan {
    color: #650300;
    text-align: right;
    position: absolute;
    top: 348px;
    right: 20px; }
    @media (max-width: 992px) {
      .banner-slogan {
        top: 372px;
        right: 35px; }
        .banner-slogan .banner-intro {
          font-size: 1.25rem; }
        .banner-slogan .banner-text {
          font-size: 3rem; } }
    @media (max-width: 768px) {
      .banner-slogan {
        top: 164px;
        right: 15px; }
        .banner-slogan .banner-intro {
          font-size: 1rem;
          line-height: 1.25rem; }
        .banner-slogan .banner-text {
          font-size: 2rem;
          line-height: 4.5rem; } }

.index-subtitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #650300;
  text-align: center; }
  @media (max-width: 992px) {
    .index-subtitle {
      font-size: 2rem;
      margin-bottom: 2rem; } }
  @media (max-width: 768px) {
    .index-subtitle {
      font-size: 1.5rem;
      line-height: 3rem; } }

.about {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background-color: #AA06010D; }
  @media (max-width: 992px) {
    .about {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 768px) {
    .about {
      padding-top: 2rem;
      padding-bottom: 2.5rem; } }
  .about-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%; }
    @media (max-width: 992px) {
      .about-body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .about-items1, .about-items2, .about-items3, .about-items4 {
    max-width: 23%;
    margin: 0 auto; }
  @media (max-width: 992px) {
    .about-items1, .about-items2 {
      max-width: 255px;
      margin-left: 3.35rem;
      margin-right: 3.35rem;
      margin-bottom: 2rem; } }
  @media (max-width: 992px) {
    .about-items3, .about-items4 {
      max-width: 255px;
      margin-left: 3.35rem;
      margin-right: 3.35rem; } }
  @media (max-width: 768px) {
    .about-items1, .about-items2, .about-items3 {
      max-width: 255px;
      margin-left: 3.8rem;
      margin-right: 3.8rem;
      margin-bottom: 2rem; } }
  .about-icon {
    width: 100px;
    padding: 8.08px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .about-title {
    font-size: 1.5rem;
    color: #650300;
    text-align: center;
    margin-bottom: 0.5rem; }

.classic-glass {
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  @media (max-width: 992px) {
    .classic-glass {
      padding-top: 2.5rem;
      padding-bottom: 3.5rem; } }
  @media (max-width: 768px) {
    .classic-glass {
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      max-width: 100%;
      margin: 0 auto; } }
  .classic-glass-body1, .classic-glass-body2, .classic-glass-body3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #AA0601;
    max-width: 100%;
    margin: 0 auto;
    position: relative; }
  .classic-glass-body1, .classic-glass-body2 {
    margin-bottom: 2rem; }
    @media (max-width: 992px) {
      .classic-glass-body1, .classic-glass-body2 {
        margin-bottom: 0.5rem; } }
  .classic-glass-items1, .classic-glass-items2, .classic-glass-items3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    height: auto; }
    @media (max-width: 768px) {
      .classic-glass-items1, .classic-glass-items2, .classic-glass-items3 {
        position: absolute; } }
  .classic-glass-img, .classic-glass-img2 {
    max-width: 58%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .classic-glass-img, .classic-glass-img2 {
        max-width: 52%; } }
    @media (max-width: 768px) {
      .classic-glass-img, .classic-glass-img2 {
        max-width: 100%; } }
  .classic-glass-img2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    @media (max-width: 992px) {
      .classic-glass-img2 {
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2; } }
  .classic-glass .material-icons {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    margin-left: 2.8125rem;
    margin-right: 1.5rem; }
    @media (max-width: 992px) {
      .classic-glass .material-icons {
        -webkit-transform: scale(1.67);
            -ms-transform: scale(1.67);
                transform: scale(1.67);
        margin-left: 2.45rem;
        margin-right: 1rem; } }
  .classic-glass-icon3 {
    width: 48px;
    height: 48px;
    margin-left: 1.875rem;
    margin-right: 0.5rem; }
    @media (max-width: 992px) {
      .classic-glass-icon3 {
        width: 40px;
        height: 40px;
        margin-left: 1.875rem;
        margin-right: 0.5rem; } }
  @media (max-width: 992px) {
    .classic-glass-icon2 {
      width: 40px;
      height: 40px;
      margin-left: 1.875rem;
      margin-right: 0.5rem; } }
  .classic-glass-title1, .classic-glass-title2, .classic-glass-title3 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900; }
    @media (max-width: 992px) {
      .classic-glass-title1, .classic-glass-title2, .classic-glass-title3 {
        font-size: 1.75rem;
        line-height: 4rem; } }
  .classic-glass-title2 {
    margin-left: 0.625rem;
    margin-right: 1.875rem; }
    @media (max-width: 992px) {
      .classic-glass-title2 {
        margin-left: 0rem;
        margin-right: 0rem; } }

.cobranded-glass {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-size: cover;
  background-position: center center;
  padding-top: 3.75rem;
  padding-bottom: 5rem; }
  .cobranded-glass-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*# sourceMappingURL=all.css.map */
